<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirbnbClone</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <label for="title">Title</label>
        <input name="title" placeholder="Enter Title" type="text">
        <br>
        <label for="description">Description</label>
        <textarea name="description" placeholder="Enter Description" type="text"></textarea>
        <br>
        <label for="image">Image</label>
        <input name="image" placeholder="Enter Image URL / Link" type="text">
        <br>
        <label for="price">Price</label>
        <input name="price" placeholder="Enter Price" type="number">
        <br>
        <label for="location">Location</label>
        <input name="location" placeholder="Enter Address Location" type="text">
        <br>
        <label for="country">Country</label>
        <input name="country" placeholder="Enter Country Name" type="text">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>