<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb | Holiday rentals, cabins, beach houses & more</title>
    <link rel="icon" type="image/jpg" href="airbnb-weblogo.jpg" />
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
      <label for="title">Title</label>
      <input name="listing[title]" placeholder="Enter Title" type="text" />
      <br /><br />
      <label for="description">Description</label>
      <textarea
        name="listing[description]"
        placeholder="Enter Description"
        type="text"
      ></textarea>
      <br /><br />
      <label for="image">Image</label>
      <input
        name="listing[image]"
        placeholder="Enter Image URL / Link"
        type="text"
      />
      <br /><br />
      <label for="price">Price</label>
      <input name="listing[price]" placeholder="Enter Price" type="number" />
      <br /><br />
      <label for="location">Location</label>
      <input
        name="listing[location]"
        placeholder="Enter Address Location"
        type="text"
      />
      <br /><br />
      <label for="country">Country</label>
      <input
        name="listing[country]"
        placeholder="Enter Country Name"
        type="text"
      />
      <br /><br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
